<form hx-post="/webshop/add-to-cart"
      hx-target="this"
      hx-swap="outerHTML">
    <input type="hidden" name="productId" value="@ViewBag.product.ID">

    <button class="btn" style="background-color: #EE3A64; color: white;">
        Add to cart
        <i class="bi bi-cart-plus"></i>
    </button>

    <div class="alert alert-info">Added to cart!</div>
</form>