@functions {
    public string FormatCurrency(decimal value, string cultureCode = "no-NO")
    {
        var culture = new System.Globalization.CultureInfo(cultureCode);
        return value.ToString("C", culture);
    }
}


<div class="d-flex justify-content-between p-4">
    <h2>Shopping cart <i class="bi bi-cart4"></i></h2>
    <button class="btn btn-danger">
        Clear <i class="bi bi-trash"></i>
    </button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th class="text-end">Qty</th>
            <th class="text-end">Sum</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewBag.cartList)
        {


            <tr>
                <td>@item.Product.Name</td>
                <td class="text-end">@item.Quantity</td>
                <td class="text-end">@FormatCurrency(@item.GetSum())</td>
                <td><button class="btn btn-sm btn-outline-danger">Remove</button> </td>
            </tr>
        }
        <tr>
            <th colspan="2">Total</th>
            <th class="text-end" style="width: 100px;">@FormatCurrency(@ViewBag.totalSum)</th>
        </tr>
    </tbody>
</table>

