@page


<div id="page-layout" class="p-4">

    <div id="alert" hx-trigger="load, cart-updated from:body" hx-get="webshop/shipping-info">
    </div>

    <div id="search" class="mb-2">
        <label>
            Search:
            <input type="search" class="form-control form-control-sm"
                   hx-trigger="keyup delay:250ms, search, changed delay:500ms"
                   hx-get="/webshop/search"
                   hx-target="#products"
                   name="q">
        </label>
    </div>

    @* Product list *@
    <div id="products">
        @await Html.PartialAsync("Products")
    </div>


    @* Shopping cart *@
    <div id="cart" class="cart-card scroll" hx-trigger="cart-updated from:body" hx-get="webshop/cart">
        @await Html.PartialAsync("Cart")
    </div>

</div>