@page


<div id="page-layout" class="p-4">

    <div id="banner">
    </div>

    <div id="search" class="mb-2">
        <label>
            Search:
            <input type="search" class="form-control form-control-sm"
                   name="q">
        </label>
    </div>

    @* Product list *@
    <div id="products">
        @await Html.PartialAsync("Products")
    </div>


    @* Shopping cart *@
    <div id="cart" class="cart-card scroll">
        @await Html.PartialAsync("Cart")
    </div>

</div>