@page


<div id="page-layout" class="p-4">

    <div id="banner">
        <!-- place the shipping info banner here -->
    </div>

    <div id="search" class="mb-2">
   @* uncomment this to add search function
      <label>
          Search:
          <input type="search" class="form-control form-control-sm"
                 name="q">
      </label>
    *@
      
    </div>

    @* Product list *@
    <div id="products">
        @await Html.PartialAsync("Products")
    </div>


    @* Shopping cart *@
    <div id="cart">
        <div id="cart-container">
            @await Html.PartialAsync("Cart")
        </div>
    </div>

</div>