@functions {
    public string FormatCurrency(decimal value, string cultureCode = "no-NO")
    {
        var culture = new System.Globalization.CultureInfo(cultureCode);
        return value.ToString("C", culture);
    }
}

@if (ViewBag.productList == null || ViewBag.productList.Count == 0)
{
    <p>No products found</p>
}


<div>
    @foreach (var product in ViewBag.productList)
    {
        <div class="card mb-4 border-0">
            <div class="card-header d-flex justify-content-between align-items-center" style="background-color: white">
                <div>
                    <h3>@product.Name</h3>
                </div>
                <div>
                    <p>@FormatCurrency(@product.Price)</p>
                </div>
            </div>
            <div class="card-body product-layout">
                <div class="product-image">
                    <img src=@product.Image />
                </div>
                <div class="product-description">
                    <p>@product.Description</p>
                </div>
                <div class="product-stock">
                    
                </div>
                <div class="product-addtobasket">
                    <form method="post" action="/webshop/add-to-cart-full-reload">
                        <input type="hidden" name="productId" value="@product.Id">

                        <button class="btn btn-primary mt-4">
                            <i class="bi bi-cart-plus"></i>
                            Add to cart
                        </button>
                    </form>
                </div>
            </div>
        </div>

    }
</div>
