#page-layout {
    display: grid;
    grid-template-areas: "alert alert"
                             "search search"
                             "products cart";
    grid-column-gap: 20px;
    grid-template-rows: auto auto 1fr;
}

#search {
    grid-area: search;
}

#alert {
    grid-area: alert;
}

#products {
    grid-area: products;
}

#cart {
    grid-area: cart;
}

.product-layout {
    display: grid;
    grid-template-areas: "image description stock"
                             "image description addtobasket";
    grid-template-columns: 100px 1fr auto;
    grid-template-rows: 1fr auto;
    height: 180px;
}

.product-addtobasket {
    grid-area: addtobasket;
}

.product-image {
    grid-area: image;
    width: 90px;
}

.product-image img {
    width: 100%;
}

.product-stock {
    grid-area: stock;
}

.product-description {
    grid-area: description;
}