@font-face {
    font-family: poppins-light;
    src: url("/fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: poppins-regular;
    src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppins-medium;
    src: url("/fonts/Poppins-Medium.ttf");
}


#page-layout {
    display: grid;
    grid-template-areas: "alert alert"
                             "search search"
                             "products cart";
    grid-column-gap: 20px;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 3fr 2fr;
}

#search {
    grid-area: search;
}

#alert {
    grid-area: alert;
}

#products {
    grid-area: products;
}

#cart {
    grid-area: cart;
}

#cart-container {
    position: fixed;
}

h1, h2, h3, th {
    font-family: poppins-regular;
    font-weight: 400;
    color: #000000;
}

h1 {
    font-family: poppins-regular;
    font-size: 1.25rem;
    padding-bottom: 2rem;
}

p, td, label, tr, button {
    font-family: poppins-light;
    font-weight: normal;
    color: #191c1f;
}

.description {
    font-family: poppins-light;
    font-weight: normal;
    color: #191c1f;
    font-size: 0.75rem;
}


.product-layout {
    display: grid;
    grid-template-areas:     "image description stock"
                             "image description addtobasket";
    grid-template-columns: 100px 1fr auto;
    grid-template-rows: 1fr auto;
    height: 180px;
}

.product-addtobasket {
    grid-area: addtobasket;
}

.product-image {
    grid-area: image;
}

.product-image img {
    width: 100px;
    height: 160px;
    margin-right: 20px;
}

.product-stock {
    grid-area: stock;
}

.product-description {
    grid-area: description;
    padding-left: 20px;
}

.alert-height {
    margin-bottom: 1px;
    height: 30px;
    line-height: 30px;
    padding: 0px 15px;
}
