html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@font-face {
    font-family: poppins-light;
    src: url("/fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: poppins-regular;
    src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppins-medium;
    src: url("/fonts/Poppins-Medium.ttf");
}
